<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="site-footer" th:fragment="footer-fragment">
    <div class="footer-related">
        <div class="footer-article w1100">
            <dl class="contact clearfix">
                <dt class="fl">
                    <i class="iconfont"></i>
                </dt>
                <dd class="fl">
                    <p class="text">Human customer service</p>
                    <p class="tel">304-690-2790</p>
                    <a href="//shang.qq.com/wpa/qunwpa?idkey=dc0e028f177932aee2c212a2dd60e0b8342042ac205305803ea801c4eea6727c">在线咨询</a>
                </dd>
            </dl>
            <dl class="col-article">
                <dt>Helping Center</dt>
                <dd><a rel="nofollow" href="https://gitee.com/newbee-ltd/newbee-mall" target="_blank">Account management</a></dd>
                <dd><a rel="nofollow" href="https://gitee.com/newbee-ltd/newbee-mall" target="_blank">Shopping guide</a></dd>
                <dd><a rel="nofollow" href="https://gitee.com/newbee-ltd/newbee-mall" target="_blank">Order operation</a></dd>
            </dl>
            <dl class="col-article">
                <dt>Focus us</dt>
                <dd><a rel="nofollow" href="https://gitee.com/newbee-ltd/newbee-mall" target="_blank">Twitter</a></dd>
                <dd><a rel="nofollow" href="https://gitee.com/newbee-ltd/newbee-mall" target="_blank">Facebook</a></dd>
                <dd><a rel="nofollow" href="https://gitee.com/newbee-ltd/newbee-mall" target="_blank">Contact</a></dd>
            </dl>
            <dl class="col-article">
                <dt>Stores</dt>
                <dd><a rel="nofollow" href="https://gitee.com/newbee-ltd/newbee-mall" target="_blank">NEWBEE TOWN</a>
                </dd>
                <dd><a rel="nofollow" href="https://gitee.com/newbee-ltd/newbee-mall" target="_blank">Service Apartment</a></dd>
                <dd><a rel="nofollow" href="https://gitee.com/newbee-ltd/newbee-mall" target="_blank">Authorized Experience Store</a></dd>
            </dl>
            <dl class="col-article">
                <dt>About newbee</dt>
                <dd><a rel="nofollow" href="https://gitee.com/newbee-ltd/newbee-mall" target="_blank">Know about newbee</a>
                </dd>
                <dd><a rel="nofollow" href="https://gitee.com/newbee-ltd/newbee-mall" target="_blank">Join us</a>
                </dd>
                <dd><a rel="nofollow" href="https://gitee.com/newbee-ltd/newbee-mall" target="_blank">Address</a>
                </dd>
            </dl>
            <dl class="wx">
                <dt>newbee-mall</dt>
                <dd>
                    <img th:src="@{/mall/image/pay/wxpay_qrcode.png}">
                </dd>
                <dd class="other">
                    <span>Department:</span>
                    <a href="//shang.qq.com/wpa/qunwpa?idkey=dc0e028f177932aee2c212a2dd60e0b8342042ac205305803ea801c4eea6727c">New York</a>
                    <a href="//shang.qq.com/wpa/qunwpa?idkey=dc0e028f177932aee2c212a2dd60e0b8342042ac205305803ea801c4eea6727c">Chicago</a>
                    <a href="//shang.qq.com/wpa/qunwpa?idkey=dc0e028f177932aee2c212a2dd60e0b8342042ac205305803ea801c4eea6727c">Altanta</a>
                    <a href="//shang.qq.com/wpa/qunwpa?idkey=dc0e028f177932aee2c212a2dd60e0b8342042ac205305803ea801c4eea6727c">Huntington</a>
                    <a href="//shang.qq.com/wpa/qunwpa?idkey=dc0e028f177932aee2c212a2dd60e0b8342042ac205305803ea801c4eea6727c">Boston</a>
                </dd>
            </dl>
        </div>
        <div class="footer-links w1100">
            <p>Link:</p>
            <div class="clearfix">
                <a th:href="@{/index}">Newbee</a>
                <a th:href="@{/admin}">Background Management System</a>
                <a href="https://github.com/newbee-ltd/newbee-mall">GitHub</a>
            </div>
        </div>
        <div class="footer-info w1100">
            <div class="info-text w1100">
                <p><a href="https://gitee.com/newbee-ltd/newbee-mall" target="_blank">Newbee Mall &nbsp; | &nbsp;
                    Powered by yaochu&nbsp;
                    | &nbsp;</a>
                    Email:guyaochu@gmail.com&nbsp; <img
                            border="0" src="//pub.idqqimg.com/wpa/images/group.png" alt="SpringBoot"
                            title="SpringBoot"></a>
                </p>
                <p><a href="https://gitee.com/newbee-ltd/newbee-mall" target="_blank">Copyright ©yaochu
                    Reserved.&nbsp; | &nbsp; yaochu demo </a></p>
            </div>
        </div>

    </div>
</div>
</html>